<!DOCTYPE html>
<html>
	<body>
		<div>
			<h1>ROCK PAPER SCISSORS</h1>
		</div>
		<div class="form">
			<form action="/start-game" method="post">
				<input type="submit" value="Start">
			</form>
		</div>
	</body>	
</html>